<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>asdasdas</title>
</head>
<body>
	asdasdsad
	{{#each title}}
        <li>{{this}}</li>
    {{/each}}


----------------

	{{{title}}}
	<!-- h1>名字 {{user.name}}</h1>
	<h1>性别 {{user.sex}}</h1>
	<h1>年龄 {{user.age}}</h1> -->
</body>
</html>